@import "sm.css";
@import "md.css";
@import "lg.css";
@import "xl.css";
@import "2xl.css";
/* @import "landing_page.css"; */

body {
  color: #5b5f59;
  margin: 0;;
}


.text-red {
  color: red;
}

.text-green {
  color: green;
}



@media screen and (min-width: 768px) {
  .content {
    max-width: 90%;
    margin: auto;
  }

  #image-preview-create {
    max-width: 60%;
    margin: auto;
  }

  .flash-card-content {
    display: flex;
    flex-direction: column;
  }

  .flash-card-content .image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .flash-card-content img {
    max-width: 80%;
  }

}




.mdcr-h-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/*
  .container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  } */

#content {
  padding-bottom: 5em;
}

.mdcr-form-middle {
  width: 100%;
  max-width: 800px;

}





.mdcr-form-group {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.mdcr-form-group input {
  height: 2.5em;
  border: 1px #528461 solid;
  border-radius: 5px 5px 5px 5px;
}

.mdcr-form-group input[type=submit] {
  background-color: #528461;
  color: white;
  height: 3em;
  cursor: pointer;
}

.mdcr-form-group select {
  height: 2.5em;
  border: 1px #528461 solid;
  border-radius: 5px 5px 5px 5px;
}

.mdcr-form-group a button {
  height: 2.4em;
  border: 1px #528461 solid;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #528461;
  color: white;
}

.mdcr-form-group-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.mdcr-half-button {
  border: 1px #528461 solid;
  height: 2.5em;
  width: 49%;
  background-color: #528461;
  color: white;
  height: 3em;
  cursor: pointer;
}

.mdcr-half-button:disabled {
  /* border: 1px #528461 solid;
  height: 2.5em;
  width: 49%; */
  background-color: #a4c07c;
  color: rgb(69, 74, 72);
  cursor: default;
}




.mdcr-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  border: 1px #b8c7a3 solid;
  border-radius: .5em;
  width: 85%;
  padding: 1em;
  box-shadow: 0px 1px 10px #cccccc;
}

.mdcr-card-body {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: 1px #b8c7a3 solid;
  border-radius: .5em;
  padding: 1em;
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
  box-shadow: 0px 1px 10px #cccccc;
}

.mdcr-card-label-small {
  font-size: .9em;
  color: #888888;
  font-weight: 600;
}


.mdcr-card-value-small {
  font-size: .9em;
  color: #111111;
  font-weight: 600;
}


.mdcr-info-group {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
}

.mdcr-row {
  display: flex;
  flex-direction: row;
}

.mdcr-50 {
  max-width: 50%;
  width: 50%;
}

img {
  max-width: 100%;
}

.mdcr-model-list {
  background-color: #e9eee3;
  list-style: none;
  padding: 0;
}

.mdcr-model-list li {
  display: flex;
  border: 1px solid #ffffff;
  padding: .5em;
}

.mdcr-model-list span {
  width: 100%;
}

.mdcr-model-list .actions {
  /* width: 100%; */
  display: flex;
  gap: 1em;
  color: red;
}

.menu {
  width: 100%;
  max-width: 100%;
}

.menu ul {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  gap: 1em;
  font-weight: 600;
  width: 100%;
  margin-left: -2.2em;
}

.menu ul li {
  padding: .5em;
  border-bottom: 3px solid #EADEDB;
}

.menu a {
  text-decoration: none;
  color: #528461;
}

.add-new-float {
  background-color: #528461;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9eee3;
  font-size: 4rem;
  text-decoration: none;
}


@media screen and (max-width: 720px) {

  .menu {
    border: 1px solid #e9eee3;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #edf1e7;
  margin-left: -8px;
}




.card-actions {
  display: flex;
  justify-content: center;
}

.clip {
  display: flex;
  margin-top: 2em;

}

.clip audio {
  width: 80%;
}

.audio-control-buttons {
  height: 3em;
}

.submit {
  margin-top: 2em;
  margin-bottom: 2em;
}

.submit input {
  background-color: #528461;
  /* color: white; */
  height: 3em;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flash-card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.background-red {
  background-color: red;
}

.mdcr-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.mdcr-checkbox input {
  width: 1.5em;
  margin-right: .7em;
}

.mdcr-w-1 {
  width: 8.33%;
}
.mdcr-w-2 {
  width: 16.66%;
}

.mdcr-w-3 {
  width: 24.99%;
}

.mdcr-w-4 {
  width: 33.33%;
}

.mdcr-w-5 {
  width: 41.66%;
}

.mdcr-w-6 {
  width: 49.9999%;
}

.mdcr-w-7 {
  width: 58.33%;
}

.mdcr-w-8 {
  width: 66.66%;
}

.mdcr-w-9 {
  width: 75%;
}

.mdcr-w-10 {
  width: 83.33%;
}

.mdcr-w-11 {
  width: 91.66%;
}

.mdcr-w-12 {
  width: 100%;
}


.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/*Text and fonts*/
.font-weight-bold {
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none;
}

.back-button {
  padding: .3em;
  color: #528461;
  display: flex;
  align-items: center;
}
.back-button span {
  margin-left: 0.8em;
}


