
html {
    height: 100%;
    background-color: #528461;
    background-image: url('/assets/images/logo_opacity_2.png');

}

.mdcr-card {
    max-width: 18em;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px #333333;
    margin-top: 5em;
}

.logo {
    max-width: 6em;
}


#googleSignIn {
    background-color: #1a73e8;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    border-radius: 5px;
    width: 18em;
    justify-content: center;
    align-items: center;
    height: 3em;
    margin-bottom: 1em;
}

#googleSignIn object {
    max-width: 2em;
    margin-right: 1em;
} 
